
body{
  background-image: url('./asset/Background.png');
  background-repeat: no-repeat;
  color: white;
}
.table-main{
  display: flex;
  justify-content: center;
  /* margin-top: 120px; */
  margin: 120px auto;
}

.table-game{
  width: 982px;
  height: 784px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.40);
}

.table-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 32px;
  width: 248px;
  height: 784px;
  background: rgba(6, 6, 6, 0.70);
}
.profile{
  margin-left: 20px;
}
.monster-top{
  display: flex;
  gap: 23px;
  justify-content: center;
}
.size-grid{
  width: 154px;
  height: 78px;
  background: rgba(0, 0, 0, 0.40);
  border: none;
}

.monster-mid{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.fight{
  display: flex;
  align-items: center;
  gap: 20px;
}
.battle{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.battle-button button{
  width: 141px;
  height: 46px;
  border: none;
  border-radius: 15px;
  background: rgba(6, 6, 6, 0.50);
  color: white;
}

.notif{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 141px;
  height: 130px;
  font-size: 16px;
  background: rgba(6, 6, 6, 0.50);
  gap: 20px;
}

.powerBattle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.result{
  
}

.fight-left{
  width: 244px;
  height: 468px;
  background: rgba(0, 0, 0, 0.40);
}

.fight-right{
  width: 244px;
  height: 468px;
  background: rgba(0, 0, 0, 0.40);
}

.size-left{
  width: 154px;
  height: 78px;
  background: rgba(0, 0, 0, 0.40);
}

.monster-left{
  display: flex;
  flex-direction: column;
  gap: 50px;
}